<?php
/*
 * FreshRSS default user configuration
 */

return array(
    'language' => '{{ freshrss_language }}',
    'timezone' => '{{ freshrss_timezone }}',
    'theme' => '{{ freshrss_theme }}',
    'content_width' => 'thin',
    'topline_read' => false,
    'topline_favorite' => false,
    'topline_date' => false,
    'topline_link' => false,
    'topline_tag' => false,
    'topline_thumbnail' => false,
    'bottomline_read' => true,
    'bottomline_favorite' => true,
    'bottomline_sharing' => true,
    'bottomline_tags' => true,
    'bottomline_date' => true,
    'bottomline_link' => true,
    'auto_load_more' => true,
    'display_posts' => false,
    'display_categories' => false,
    'hide_read_feeds' => true,
    'onread_jump_next' => true,
    'lazyload' => true,
    'sides_close_article' => false,
    'swipe_aside' => false,
    'show_fav_unread' => false,
    'mark_updated' => array(
        'article' => false,
        'feed' => true,
        'category' => false,
    ),
    'reading_confirm' => false,
    'auto_remove_article' => false,
    'keep_article_idle' => false,
    'mail_login' => '{{ freshrss_admin_email }}',
    'token' => '',
    'posts_per_page' => 30,
    'view_mode' => 'normal',
    'default_view' => 'adaptive',
    'load_indicator' => false,
    'auto_load_more' => true,
    'scroll_auto_load' => false,
    'html5_notif_timeout' => 0,
    'shortcuts' => array(
        'article_action' => 'a',
        'auto_share' => 'shift+s',
        'auto_share_same' => 's',
        'close_dropdown' => 'escape',
        'collapse_entry' => 'shift+space',
        'first_entry' => 'home',
        'focus_search' => 'alt+s',
        'get_all' => 'shift+u',
        'help' => 'shift+h',
        'last_entry' => 'end',
        'load_more' => 'm',
        'mark_favorite' => 'f',
        'mark_read' => 'r',
        'navigation_down' => 'j',
        'navigation_left' => 'h',
        'navigation_next' => 'n',
        'navigation_previous' => 'p',
        'navigation_right' => 'l',
        'navigation_top' => 't',
        'navigation_up' => 'k',
        'next_entry' => 'j',
        'normal_view' => '1',
        'prev_entry' => 'k',
        'reader_view' => '2',
        'rss_view' => '3',
        'see_original' => 'v',
        'submit' => 'return',
        'toggle_aside' => 'alt+a',
        'user_queries' => 'alt+q',
        'user_queries_1' => 'alt+1',
        'user_queries_2' => 'alt+2',
        'user_queries_3' => 'alt+3',
        'user_queries_4' => 'alt+4',
        'user_queries_5' => 'alt+5',
        'user_queries_6' => 'alt+6',
        'user_queries_7' => 'alt+7',
        'user_queries_8' => 'alt+8',
        'user_queries_9' => 'alt+9',
        'user_queries_10' => 'alt+0',
    ),
    'queries' => array(),
);
