https://netbsd.kakwalab.ovh/pkgsrc/packages/NetBSD/sparc64/10/All
https://cdn.netbsd.org/pub/pkgsrc/packages/NetBSD/sparc64/10.0/All/
https://cdn.netbsd.org/pub/pkgsrc/packages/NetBSD/sparc64/10.0_2025Q4/All/
